.button{
    height: 50px;
    width: 30.8%;
    font-size: 40px;
    background-color: aquamarine;
    display: flex;
  align-items: center;
  justify-content: center;
    
}
.space,.first,.second,.third,.four{
    display: flex;
  align-items: center;
  justify-content: center;
}
.num{
    height: 40px;
    width: 7.5%;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(127, 129, 255);
    margin: 2px ;
    
}